<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Notion</title>

<link rel="shortcut icon" href="/public/icons/icons8-notion-100.png" type="image/x-icon">
<link rel="stylesheet" href="/public/styles/main.css">
<script src="/public/scripts/main.js" defer></script>

<link rel="stylesheet" href="/public/styles/prism.css">
<script type="module" src="/public/scripts/md-block.js" defer></script>
<script src="/public/scripts/prism.js"></script>