<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/public/styles/err.css">
</head>
<body>
    <header>
        <%- include('includes/nav.ejs') %>
     </header>

     <main>
        <h1>
            Something went wrong, please try again later.
        </h1>
     </main>
     
</body>
</html>